/* Set default margin and padding to 0 */
* {
  margin: 0;
  padding: 0;
}

/* Remove list-style from ul and ol elements */
ul,
ol {
  list-style: none;
}

/* Remove text-decoration from links */
a {
  text-decoration: none;
}

/* Set default font size and family */
body {
  font-family: "Rubik", sans-serif;
  line-height: 1.4;
}

/* Disable text selection */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Remove default border from images and links */
img,
a {
  border: none;
}

/* Remove outline when element is clicked */
*:focus {
  outline: none;
}

.main-container {
  max-width: 560px;
  margin: auto;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
}
